[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
configparser = "*"
argparse = "*"

[dev-packages]
black = "==24.3.0"
coverage = "*"
pylint = "*"

[requires]
python_version = "3.8"
